---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
import { Image } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';
import CustomMarkdown from '../../components/CustomMarkdown.astro';
import ProjectList from '../../components/ProjectList.astro';
import ScrollIndicator from '../../components/solid/ScrollIndicator';
import NavLink from '../../components/solid/NavLink';
import Logo from '../../components/Logo.astro';

const { Content: About } = await (await getEntry('home', 'en/about')).render();
const { Content: Contact } = await (
  await getEntry('home', 'en/contact')
).render();

const projects = (await getCollection('projects')).filter((it) =>
  it.slug.startsWith(`${Astro.currentLocale}/`),
);

const gradientLeft =
  'linear-gradient(96deg, rgba(92, 92, 92, 0.43) -15%, rgba(0, 0, 0, 0.00) 50%)';
const gradientRight =
  'linear-gradient(-87deg, rgba(92, 92, 92, 0.30) -25%, rgba(92, 92, 92, 0.00) 55%)';

const indicatorGradient =
  'radial-gradient(circle, rgba(255,199,0,0.25) 0%, rgba(255,199,0, 0.1) 20% ,rgba(255,199,0,0) 40%);';
---

<Layout title="Home">
  <!-- <ScrollIndicator
    class="fixed left-2 top-1/2 -translate-y-1/2 backdrop-blur-md"
  /> -->

  <div
    class="absolute h-6 aspect-square rounded-full border border-white-90 z-50 -translate-x-1/2 -translate-y-1/2 duration-200 transition-all pointer-events-none"
    id="cursor"
  >
  </div>

  <div
    id="splash-screen"
    class="sm:relative sm:mt-20 h-fit sm:h-[calc(100vh-5rem)]"
  >
    <div
      class="absolute hidden sm:block scale-125 -translate-y-20 inset-0 -z-50"
      style={{ background: `${gradientLeft}, ${gradientRight}` }}
    >
    </div>
    <div
      class="relative sm:absolute sm:right-8 mt-16 sm:top-24 w-full sm:w-5/12 h-96 mx-auto sm:m-0 max-w-sm sm:max-w-2xl"
    >
      <Image
        src={import('./../../assets/star_illustration.svg' /* @vite-ignore */)}
        alt="Illustration"
        class="absolute mt-[12%] ml-[2%] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rotate-[24deg] scale-[1.35] w-1/2"
      />
      <Image
        src={import('./../../assets/portrait.png')}
        alt="Portrait"
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 saturate-[1.1] w-5/6 scale-95"
      />
    </div>

    <div
      class="sm:absolute sm:bottom-8 rounded-3xl sm:left-10 sm:p-8 bg-gradient-to-tr from-background/60 to-background/0 to-50% px-3 flex flex-col text-5xl sm:text-display-xl font-semibold text-white-30-opaque leading-tighter mt-16 sm:mt-60"
    >
      <span class="text-primary">Felix Blaimauer</span>
      <NavLink opaque={false} text="Web Dev & Design" />
      <NavLink opaque={false} text="Photo & Video" />
      <NavLink opaque={false} text="3D Visual FX" />
      <!-- <span class="hover:text-white-70 transition duration-75"
        >Web Dev & Design</span
      >
      <span class="hover:text-white-70 transition duration-75"
        >Photo / Video</span
      >
      <span class="hover:text-white-70 transition duration-75"
        >3D Visual FX</span
      > -->
    </div>
  </div>

  <Section class="mt-8" name="About">
    <div class="flex gap-20 justify-between flex-wrap">
      <CustomMarkdown
        class="text-2xl sm:text-body-lg leading-tight [&>h2]:font-semibold [&>h2]:text-6xl sm:[&>h2]:text-display-xl"
      >
        <About />
      </CustomMarkdown>
      <!-- <div class="grid place-items-center grow min-w-min">
        <Logo class="w-3/4 min-w-[10rem]" />
      </div> -->
    </div>
  </Section>

  <Section class="mt-10" padding={false} name="Projects">
    <h2
      class="text-6xl sm:text-display-xl text-primary font-semibold leading-tighter px-3 sm:px-10"
    >
      Check out some of my projects
    </h2>
    <div class="mt-8">
      <ProjectList projects={projects.map((it) => it.slug)} />
    </div>
  </Section>

  <Section class="mt-10" name="Contact">
    <CustomMarkdown
      list={false}
      class="text-2xl sm:text-body-lg leading-tight [&>h2]:font-semibold [&>h2]:text-6xl sm:[&>h2]:text-display-xl [&>h2]:text-primary"
    >
      <Contact />
    </CustomMarkdown>
  </Section>

  <script>
    const cursor = document.getElementById('cursor');
    const cursorIndicator = document.querySelectorAll('.cursor-custom');

    let lastX = 0;
    let lastY = 0;

    const moveCursor = (e?: MouseEvent, duration: number = 200) => {
      if (!cursor) return;

      lastX = e?.clientX ?? lastX;
      lastY = e?.clientY ?? lastY;

      cursor.animate(
        {
          left: (e?.clientX ?? lastX) + window.scrollX + 'px',
          top: (e?.clientY ?? lastY) + window.scrollY + 'px',
        },
        {
          duration,
          fill: 'forwards',
          easing: 'ease-out',
        },
      );
    };

    window.addEventListener('mousemove', (e) => moveCursor(e));
    window.addEventListener('scroll', () => moveCursor(undefined, 0));

    if (cursor != null) {
      cursorIndicator.forEach((el) => {
        el.addEventListener('mouseover', () => {
          cursor.style.height = '2rem';
          cursor.style.background = 'rgba(255, 255, 255, 0.4)';
        });
        el.addEventListener('mouseout', () => {
          cursor.style.height = '1.5rem';
          cursor.style.background = 'none';
        });
      });
    }
  </script>
</Layout>
