---
import { twJoin } from 'tailwind-merge';
import type { ClassProps } from '../interfaces/ClassProps';
import { Icon } from 'astro-icon/components';

interface Props extends ClassProps {
  name: string;
  email: string;
  phone: string;
  locale?: 'en' | 'de';
}

const { class: className, name, email, phone, locale = 'en' } = Astro.props;

const contents = {
  en: {
    contact: 'Contact',
    pages: 'Pages',
    legal: 'Legal',
    legalLink: 'Go to legal page',
    homeLink: 'Go to Home page',
    linkedin: 'Visit Felix Blaimauer on LinkedIn',
    github: 'Open Felix Blaimauers GitHub',
  },
  de: {
    contact: 'Kontakt',
    pages: 'Seiten',
    legal: 'Rechtliches',
    legalLink: 'Zur Rechtlichen Seite',
    homeLink: 'Zur Startseite',
    linkedin: 'Felix Blaimauer auf LinkedIn besuchen',
    github: 'Felix Blaimauers GitHub öffnen',
  },
};
---

<footer
  class={twJoin(
    'flex w-full flex-wrap gap-x-20 gap-y-4 border-t border-white/30 px-12 py-8 text-white/90 sm:justify-center md:gap-x-80',
    className
  )}
>
  <div>
    <p class="text-4xl font-semibold text-primary">
      {contents[locale]['contact']}
    </p>
    <ul>
      <li>{name}</li>
      <li>
        <a href={`mailto:${email}`}>{email}</a>
      </li>
      <li>
        <a href={`tel:${phone}`}>{phone}</a>
      </li>
      <li class="flex gap-2 justify-center mt-2 text-xl">
        <a
          href="https://www.linkedin.com/in/felix-blaimauer-a424b22bb/"
          target="_blank"
          aria-label={contents[locale].linkedin}
        >
          <Icon name="pajamas:linkedin" />
        </a>
        <a
          href="https://www.github.com/felixBlaimauer"
          target="_blank"
          aria-label={contents[locale].github}
        >
          <Icon name="pajamas:github" />
        </a>
      </li>
    </ul>
  </div>

  <div>
    <p class="text-4xl font-semibold text-primary">
      {contents[locale]['pages']}
    </p>
    <ul>
      <li>
        <a aria-label={contents[locale].homeLink} href={`/${locale}`}>Home</a>
      </li>
      <li>
        <a aria-label={contents[locale].legal} href={`/${locale}/legal`}
          >{contents[locale].legal}</a
        >
      </li>
    </ul>
  </div>
</footer>
