---
import { twJoin } from 'tailwind-merge';
import type { ClassProps } from '../interfaces/ClassProps';
import { Icon } from 'astro-icon/components';

interface Props extends ClassProps {
  name: string;
  padding?: boolean;
  markdown?: {
    list?: boolean;
  };
}

const { name, padding, class: className, markdown } = Astro.props;
const id = `${name.toLowerCase()}`;
const href = `#${id}`;
---

<section class:list={[{ 'px-3 sm:px-10': padding ?? true }, className]}>
  <div
    class={`flex items-center gap-2 text-white-30 text-body-sm font-medium ${
      padding === false ? 'px-3 sm:px-10' : ''
    }`}
    id={id}
  >
    <h2 class="text-2xl">{name}</h2>
    <a href={href}>
      <Icon class="aspect-square w-6" name="heroicons:link-solid" />
    </a>
  </div>
  <div
    class:list={[
      {
        'markdown text-white-70': markdown,
        '[&>ul]:ml-14 [&>ul]:list-disc': markdown?.list,
      },
    ]}
  >
    <slot />
  </div>
</section>
