---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
import { Image } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';
import CustomMarkdown from '../../components/CustomMarkdown.astro';
import ProjectList from '../../components/ProjectList.astro';
import NavLink from '../../components/solid/NavLink';
import Logo from '../../components/Logo.astro';
import H2 from '../../components/markdown/h2.astro';

const { Content: About } = await (await getEntry('home', 'de/about')).render();
const { Content: Contact } = await (
  await getEntry('home', 'de/contact')
).render();

const projects = (await getCollection('projects')).filter((it) =>
  it.slug.startsWith(`${Astro.currentLocale}/`)
);

const gradientLeft =
  'linear-gradient(96deg, rgba(92, 92, 92, 0.43) -15%, rgba(0, 0, 0, 0.00) 50%)';
const gradientRight =
  'linear-gradient(-87deg, rgba(92, 92, 92, 0.30) -25%, rgba(92, 92, 92, 0.00) 55%)';

const indicatorGradient =
  'radial-gradient(circle, rgba(255,199,0,0.25) 0%, rgba(255,199,0, 0.1) 20% ,rgba(255,199,0,0) 40%);';
---

<Layout title="Home">
  <div
    id="splash-screen"
    class="sm:relative sm:mt-20 h-fit sm:h-[calc(100vh-5rem)]"
  >
    <div
      class="absolute hidden sm:block scale-125 -translate-y-20 inset-0 -z-50"
      style={{ background: `${gradientLeft}, ${gradientRight}` }}
    >
    </div>
    <div
      class="relative sm:absolute sm:right-8 top-14 sm:top-1/2 sm:-translate-y-2/3 lg:-translate-y-1/2 xl:-translate-y-1/2 lg:-mt-4 xl:-mt-14 2xl:-mt-12 w-full sm:w-5/12 h-96 mx-auto sm:m-0 max-w-sm sm:max-w-2xl"
    >
      <Image
        src={import('./../../assets/star_illustration.svg' /* @vite-ignore */)}
        alt="Illustration"
        loading="eager"
        class="absolute mt-[12%] ml-[2%] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rotate-[24deg] scale-[1.35] w-1/2"
      />
      <Image
        src={import('./../../assets/portrait.png')}
        alt="Portrait"
        loading="eager"
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 saturate-[1.1] w-5/6 scale-95"
      />
    </div>

    <div
      class="sm:absolute sm:bottom-8 rounded-3xl sm:left-10 p-4 m-4 sm:m-0 sm:p-8 bg-gradient-to-tr sm:bg-gradient-to-tr from-white/5 sm:from-background/60 to-background/0 to-50% px-3 flex flex-col text-5xl sm:text-7xl lg:text-display-xl font-semibold text-white-30-opaque leading-tighter mt-24 sm:mt-60"
    >
      <span class="text-primary">Felix Blaimauer</span>
      <NavLink opaque={false} text="Webentwicklung" />
      <NavLink opaque={false} text="Foto & Video" />
      <NavLink opaque={false} text="Multimedia" />
    </div>
  </div>

  <Section name="Ueber" class="-mt-4 pt-24">
    <CustomMarkdown xl={true}>
      <About />
    </CustomMarkdown>
  </Section>

  <Section class="-mt-8 pt-24" padding={false} name="Projekte">
    <H2
      class="text-6xl sm:text-display-xl text-primary font-semibold leading-tighter px-3 sm:px-10"
    >
      Sieh dir meine Projekte an
    </H2>
    <div class="mt-8">
      <ProjectList projects={projects.map((it) => it.slug)} />
    </div>
  </Section>

  <Section class="-mt-8 pb-8 pt-24" name="Kontakt">
    <CustomMarkdown list={false} xl={true}>
      <Contact />
    </CustomMarkdown>
  </Section>
</Layout>
