---
import { ViewTransitions, fade } from 'astro:transitions';
import Footer from '../components/solid/Footer';
import Navbar from '../components/solid/Navbar';
import { getEntry } from 'astro:content';

interface Props {
  title: string;
}

const personalInfo = await getEntry('personal', 'info');

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Felix Blaimauer, Web Developer from Austria"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Felix Blaimauer</title>
    <ViewTransitions />

    <style is:global>
      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
      }

      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
      }

      ::-moz-selection {
        background-color: #ffda5533;
      }

      ::selection {
        background: #ffda5533;
      }

      html {
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      body {
        @apply overflow-x-hidden bg-background text-white-90;
        background: linear-gradient(78deg, red, yellow),
          linear-gradient(68, blue, green);
      }

      /* section {
        opacity: 0;
      } */

      .markdown strong {
        @apply font-medium;
        @apply text-white-90;
      }

      .markdown a {
        position: relative;
      }

      .markdown a:after {
        content: '';
        position: absolute;
        width: min(max(10%, 10px), 100%);
        marign: 0 auto;
        left: 0;
        bottom: -2%;
        height: 3px;
        @apply bg-current transition-all;
      }

      .markdown a:hover {
        color: white;
      }

      .markdown a:hover:after {
        @apply w-full;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer
      name={personalInfo.data.name}
      email={personalInfo.data.email}
      phone={personalInfo.data.phone}
      class="mt-10"
    />
    <!-- <script>
      import { inView, animate } from 'motion';

      inView('section', ({ target }) => {
        animate(
          target,
          { opacity: 1 },
          { delay: 0.15, duration: 0.6, easing: 'ease' },
        );
      });
    </script> -->
  </body>
</html>
