---
import { ViewTransitions, fade } from 'astro:transitions';
import Footer from '../components/Footer';
import Navbar from '../components/Navbar';
import { getEntry } from 'astro:content';

interface Props {
  title: string;
}

const personalInfo = await getEntry('personal', 'info');

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Felix Blaimauer, Web Developer from Austria"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <style is:global>
      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
      }

      @font-face {
        font-family: 'Outfit';
        src: url('/fonts/Outfit/Outfit-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
      }

      ::-moz-selection {
        background-color: #ffda5533;
      }

      ::selection {
        background: #ffda5533;
      }

      body {
        @apply bg-background text-white-90 overflow-x-hidden;
        background: linear-gradient(78deg, red, yellow),
          linear-gradient(68, blue, green);
      }

      strong {
        @apply font-semibold;
        @apply text-white-90;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer
      name={personalInfo.data.name}
      email={personalInfo.data.email}
      phone={personalInfo.data.phone}
      class="mt-10"
    />
  </body>
</html>
